/*global style*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
}

section {
    position: relative;
    overflow: hidden;
    height: 100%
}
/*heading style*/
h1 {
    font-weight: 700;
    font-size: 36px;
    font-family: muli,
        sans-serif;
}

h2 {
    font-weight: bold;
    font-size: 5vh;
    font-family: muli,
        sans-serif;
}

h3 {
    font-weight: 600;
    font-size: 3.4vh;
    font-family: muli,
        sans-serif;
}

h4 {
    font-weight: 600;
    font-size: 3vh;
    font-family: muli,
        sans-serif;
}



p {
    font-weight: normal;
    font-size: 2.5vh;
    font-family: muli,
        sans-serif;
}
/* Main Content */
.background {
    position: relative;
    background: #F8CFB8;
    text-align: center;
    border-radius: 20px;
    height: 600px;
    margin: 50px 20px 10px 20px;
}

#title {
    color: #81201d;
    font-size: 30px;
    padding-top: 20px;
}

#gif {
    margin-top: 30px;
}

#exp {
    color: #81201d;
    padding: 30px 60px;
}

#slidexp {
    padding: 10px 50px 30px;
    color: #81201d;
}

#icon {
    font-size: 50px;
    color: white;
}

#text {
    position: absolute;
    color: #CD5B54;
    text-align: center;
    margin-top: 2px;
    margin-left: 40px;
    font-size: 15px;
}

#button {
    background-color: #CD5B54;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    border-color: #CD5B54;
    margin: 10px 0px 0px 0px;
    z-index: 12;
    cursor: pointer;
}

.sharebutton {
    position: absolute;
    right: 20px;
}

.homebutton {
    position: absolute;
    left: 20px;
}

/* share */
.overlay {
    opacity: 0.9;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(94, 94, 94);
}

.share,
.overlay {
    display: none;
}

.show-share {
    display: block;
}

.share {
    position: absolute;
    left: 0;
    right: 0;
    top: 18%;
    margin: auto;
    width: 300px;
    height: 490px;
    z-index: 1;
    padding: 1em;
    background: white;
    border: none;
    border-radius: 10px;
}

.share h2 {
    margin: 15px 0 0 30px;
    color: #81201d;
    font-size: 24px;
}

.share button {
    background-color: #CD5B54;
    color: white;
    font-size: 55px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 30px;
    border: none;
    border-radius: 10px;
    z-index:210;
}

#word {
    font-size: 10px;
}